@model Saimoe.Models.ContestantRegistration

@{
    ViewBag.Title = "ContestantRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ContestantRegistration</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ContestantRegistration</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tagline)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tagline)
            @Html.ValidationMessageFor(model => model.Tagline)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Interest)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Interest)
            @Html.ValidationMessageFor(model => model.Interest)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Characteristic)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Characteristic)
            @Html.ValidationMessageFor(model => model.Characteristic)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RegistrationPost)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RegistrationPost)
            @Html.ValidationMessageFor(model => model.RegistrationPost)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ActingCute)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ActingCute)
            @Html.ValidationMessageFor(model => model.ActingCute)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


