<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="@WebResources.LangCode" xml:lang="@WebResources.LangCode">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - @WebResources.SiteName</title>
    <link href="@Microsoft.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/css", false)" rel="stylesheet" type="text/css" />
    <link href="@Microsoft.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/themes/base/css", false)" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Microsoft.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js", false)"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" href="#" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <h1>
                        @Html.ActionLink(WebResources.SiteName, "Index", "Home", null, new { @class = "brand" })
                    </h1>
                    <div class="nav-collapse">
                        <ul class="nav">
                            @helper NavItem(string linkText, string actionName, string controllerName, bool? active = null) {
                                if (active == null) {
                                    active = (string)ViewContext.RouteData.Values["Action"] == actionName &&
                                        (string)ViewContext.RouteData.Values["Controller"] == controllerName;
                                }
                                var className = active.Value ? "active" : null;
                                <li class="@className">
                                    @Html.ActionLink(linkText, actionName, controllerName)
                                </li>
                            }
                            @NavItem(WebResources.SiteHome, "Index", "Home")
                            @NavItem(WebResources.NavRegistration, "Index", "Join")
                            @NavItem(WebResources.NavVoteList, "Index", "Vote")
                            @NavItem(WebResources.NavVoteResult, "ResultList", "Vote")
                        </ul>
                        <ul class="nav pull-right">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        @WebResources.Account
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        @NavItem(WebResources.Logout, "Logout", "OAuth")
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li>
                                    @NavItem(WebResources.Login, "Login", "OAuth")
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <section id="main">
        <h2>@ViewBag.Title</h2>
        @RenderBody()
    </section>
    <footer>
    
    </footer>
</body>
</html>
