<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Microsoft.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/css", false)" rel="stylesheet" type="text/css" />
    <link href="@Microsoft.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/themes/base/css", false)" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Microsoft.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js", false)"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
